<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/header') %>
  </head>
  <body>
    <%- include('../partials/menu') %>

    <div class="container mb-3">

      <h2 class="mb-3">About</h2>

      <P>간단한 게시판 및 파일공유 사이트</p>

    </div>
  </body>
</html>